<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="../stylesheet.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=save" />
<script type="text/javascript" src="../scripts/script.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>

<body>

    <nav id="mainNavMenu">
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/user">User</a><span class="menuDivider">|</span></li> 
            <li><a href="/admin">Add Songs</a></li>
            <li><a href="/votes">Votes</a></li>
            <li><a href="/results">Results</a></li>
            <li><a href="/userEditing">Add User</a></li>
            <li><a href="/feedback">Feedback</a></li>
        </ul>
    </nav>

    <div class="tableExtra">
        <button id="newRowBtn" class="button1">L채gg till</button>
        <button id="removeBtn" class="button1">Ta bort</button>
        <button id="saveBtn" class="button1">Spara</button>
        <span style="visibility: hidden;" id="unsaved">Det finns osparade 채ndringar</span>
    </div>

    <table id="adminTable" class="container">
        <thead>
            <tr>
                <th>
                    <h1>L책t</h1>
                </th>
                <th>
                    <h1>Artist</h1>
                </th>
                <th>
                    <h1>Kategori</h1>
                </th>
                 <th>
                    <h1>Anv채ndare</h1>
                </th>
            </tr>
        </thead>
      <tbody id="adminTBody">
    {{#each songs}}
    <tr data-id={{this.songID}}>
        <td contenteditable="true" class="tableCell">{{this.name}}</td>
        <td contenteditable="true" class="tableCell">{{this.artist}}</td>
         <td class="tableCell">
            <select data-category={{this.category}} class="category-select">
                {{#each ../categories}}
                    <option>
                        {{this.name}}
                    </option>
                {{/each}}
            </select>
        </td>
        <td class="tableCell">
            <select data-user={{this.user}} class="user-select">
                {{#each ../users}}
                    <option>
                        {{this.username}}
                    </option>
                {{/each}}
            </select>
        </td>
        <td style="display:none;" class="removeCell symbol-cell">
            <svg class="remove-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                      <path
                            d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
            </svg>
        </td>
    </tr>
    {{/each}}
</tbody>

    </table>
</body>

</html>