<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="../stylesheet.css" rel="stylesheet"/>
<script type="text/javascript" src="../scripts/script.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Resultat</title>
</head>
<body>

<nav id="mainNavMenu">
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/user">User</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/votes">Votes</a></li>
            <li><a href="/results">Results</a></li>
            <li><a href="/userEditing">userEditing</a></li>
            <li><a href="/feedback">Feedback</a></li>
        </ul>
    </nav>


<div class="tableExtra">
    <h1 class="pageName">Röstnings Resultat</h1>
</div>
<table id="resultTable" class="container">
    <thead>
    <tr>
        <th><h1>Låt</h1></th>
        <th><h1>Artist</h1></th>
        <th><h1>Kategori</h1></th>
        <th><h1>Poäng</h1></th>
        <th><h1>Resultat</h1></th>
    </tr>
    </thead>
    <tbody>
         {{#each results}}
                    <tr>
                        <td  class="tableCell"> {{this.name}}</td>
                        <td  class="tableCell">{{this.artist}}</td>
                        <td  class="tableCell">{{this.category}}</td>
                        <td  class="tableCell">{{this.total_rating}}</td>
                         <td class="tableCell">{{add @index 1}}</td>
                    </tr>
                {{/each}}
    </tbody>
</table>

</script>
</body>
</html>